.choices {
    margin-top: 20px;
    text-align: center;
}

.choice {
    border: 4px solid black;
    border-radius: 50%;
    margin: 10px 31%;
    padding: 10px;
    display: block;
    transition: all 0.3s ease;
}